<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

 <!--   <appender name="roll-by-size" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>demo.%d{yyyy-MM-dd-hh-mm}.log</fileNamePattern>
            <param name="file" value="D:/demo.log"/>
            <param name="MaxFileSize" value="3KB" />
            <param name="MaxBackupIndex" value="2" />
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>-->

<!--    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="ASYNC"/>
    </root>-->

    <logger name="com.esempla.test.demo.controller" level="TRACE"/>
</configuration>
